<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best movies</title>
    <th:block th:replace="~{fragments::style}" />
</head>

<body>
    <th:block th:replace="~{fragments::navbar}" />

    <!-- <ul>
        <li th:each="film : ${movies}" th:text="|${film.title} ${film.id}|"></li>
    </ul> -->

    <th:block th:replace="~{fragments::itemList(collectionItems=${movies},path=${'movies'})}"></th:block>


</body>

</html>